*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.App {
  font-family: atomic-age, sans-serif;
  text-align: left;
}

.type {
  font-size: 28px;
  font-weight: 800;
  width: 600px;
}
